{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}
<div class="btn-group">
    <a type="button" class="navbar-btn btn {% if mode == 'list' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('list', {'view': 'list', 'view': null}) }}">
        <i class="fa fa-list"></i> {{ 'classification.list_mode'|trans({}, 'SonataClassificationBundle') }}
    </a>
    <a type="button" class="navbar-btn btn {% if mode == 'tree' %}btn-info active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('list', {'view': 'tree'}) }}">
        <i class="fa fa-sitemap"></i> {{ 'classification.tree_mode'|trans({}, 'SonataClassificationBundle') }}
    </a>
</div>
<div class="btn-group">
    <button type="button" class="navbar-btn btn btn-default">
        <i class="fa fa-cube"></i>
        {{ admin.trans('tree_catalog_title', {}, admin.translationdomain) }}: {{ current_context.name }}
    </button>
    <button type="button" class="navbar-btn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for context in contexts %}
            <li>
                <a href="{{ admin.generateUrl('list', { 'context': context.id }) }}">
                    {% if context.id == current_context.id %}
                        <span class="pull-right">
                            <i class="fa fa-check"></i>
                        </span>
                    {% endif %}
                    {{ context.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
