{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block tab_menu %}
    {% include 'SonataClassificationBundle:CategoryAdmin:list_tab_menu.html.twig' with {
        'mode':   'list',
        'action': action,
        'admin':  admin,
        'current_context': current_context,
        'contexts': contexts
    } only %}
{% endblock %}